.contenedor{
    color: white;
    width: 70%;
    float: right;
    padding: 10px;
    overflow: scroll;
}
.subt{
    color: white;
}
.intro{
    margin-top: 0px;
    background-image: url("");
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-size: 10px;
    text-align: right;
}

body{
    background-color: black;
    background-image: url("../anime/img/fondo.jpg");
    background-repeat: repeat-y;
    background-position: 100px;
    
}

.encabezado{
    background: black;
    color: white;
    
}

.titulo{
    background: white;
    color: black;
}

.titulo2{
    background: black;
    color: white;
}

.caps{
    background: black;
    color: white;
}

.caja{
    background: black;
    background-image: url("../anime/img/textura2.jpg");
    background-position: 100px;
    color: white;
    font-weight: bold;
    padding-top: 20px;
}

.mega{
    background-color: orangered;
    color: white;
    font-size: x-large
}

.desc{
    font-size: large;
    text-align: justify;
}

.arriba{
    padding-bottom: 100px;
}

.negro{
    background-color: black;
}


.barrita{
    font-weight: bold;
    padding-bottom: 10px;
}

.menu{
    overflow: scroll;
}